POSTGRES_EXTERNAL_HOST=''
POSTGRES_INTERNAL_HOST=''
POSTGRES_PORT=''

POSTGRES_LITELLM_USER=''
POSTGRES_LITELLM_PASSWORD=''
POSTGRES_LITELLM_DATABASE=''

QDRANT_PUBLIC_URL=''
QDRANT_INTERNAL_HTTP_URL=''
QDRANT_INTERNAL_GRPC_ENDPOINT=''
QDRANT_API_KEY=''

LITELLM_PUBLIC_URL=''
LITELLM_INTERNAL_URL=''
LITELLM_API_KEY=''