POSTGRES_EXTERNAL_HOST=<OPTIONAL>
POSTGRES_INTERNAL_HOST=<OPTIONAL>
POSTGRES_PORT=<REQUIRED>
POSTGRES_LITELLM_USER=<REQUIRED>
POSTGRES_LITELLM_PASSWORD=<REQUIRED>
POSTGRES_LITELLM_DATABASE=<REQUIRED>

QDRANT_PUBLIC_URL=<OPTIONAL>
QDRANT_INTERNAL_HTTP_URL=<OPTIONAL>
QDRANT_INTERNAL_GRPC_ENDPOINT=<OPTIONAL>
QDRANT_API_KEY=<REQUIRED>

LITELLM_PUBLIC_URL=<OPTIONAL>
LITELLM_INTERNAL_URL=<OPTIONAL>
LITELLM_API_KEY=<REQUIRED>
